#resizeButton.expandMode .frameCorners {
    display: block;

}

#resizeButton.expandMode .resizeBtn {
    display: none;
}

#resizeButton.resizeMode .frameCorners {
    display: none;

}

#resizeButton.resizeMode .resizeBtn {
    display: block;
}